
@{
    ViewData["Title"] = "В доступе отказано";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p>
        <a asp-controller="Home" asp-action="Index">На главную</a>
    </p>
</div>