<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Магазин товаров!</h2>

    <p>
        <a href="/Home/Employees">Сотрудники магазина</a>
    </p>
</body>
</html>
